{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'litreview/style.css' %}" />
        
    </head>
    <body id="body">
        <main id="container">
            <header id="header" >
                <nav id="navigate">
                    <a href="{% url 'flux' %}">Flux</a>
                    <a href="{% url 'posts' %}">Posts</a>
                    <a href="{% url 'subscribes' %}">Abonnements</a>
                    <a href="{% url 'logout' %}">Se Déconnecter</a>
                </nav>
                <h2 id="frontText">LITReview</h2>
                {% if user.is_authenticated %} 
                    <p id="userIndication">Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
                {% endif %}      
            </header>
        
            {% block content %}{% endblock content %}
        
        
        
        </main>
        
    </body>
</html>