{% extends 'litreview/base.html' %} 
{% block content %}
    <h2>SUPPRESSION D'UNE DEMANDE DE CRITIQUE</h2>
    <h3>Êtes vous certain de vouloir supprimer votre demande de critique?</h3>
    <div class="ticket">
        <div class="ticketHeader">
            <p>{{ ticket.user }} a demandé une critique </p>
            <p>{{ ticket.time_created }}</p>
        </div>
        <p>  {{ ticket.title }}</p>
        <p>  {{ ticket.description }} </p>
        <img src="{{ ticket.image.url }}">
       
    </div>
    <div class="deleteButtons">
        <form method='POST'>
            {{ delete_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="button">Je suis certain</button>
        </form>
        <a href="{% url 'posts' %}">
            <button type="submit" class="button">Annuler</button>
        </a>
    </div>
    
    
{% endblock content %}