{% extends 'litreview/base.html' %} 
{% block content %}
    <p>Page posts en cours de construction</p>
    {% for item in flux %}
        {% if item.user.id == user.id %}
            
            {% if item.identity == 'ticket' %}
                <div class="ticket">
                    <div class="ticketHeader">
                        <p>{{ item.user }} a demandé une critique </p>
                        <p>{{ item.time_created }}</p>
                    </div>
                    
                    <p>  {{ item.title }}</p>
                    <p>  {{ item.description }}</p>
                    <img src="{{ item.image.url }}">
                    <div class="bottomButtons">
                        <button type="submit" class="button reviewButton">Modifier</button>
                        <button type="submit" class="button reviewButton">Supprimer</button>
                    </div>
                </div>
            {% endif %}
            {% if item.identity == 'review' %} 
                <div class="review">
                    <div class="reviewHeader">
                        <p>{{ item.user }} a publié une critique. </p>
                        <p>{{ item.time_created }}</p>
                    </div>
                    
                    <h3> {{ item.headline }}</h3>
                    <p>  {{ item.rating }}</p>
                    <div class="ticket">
                        <div class="ticketHeader">
                            <p>Ticket - {{ item.ticket.user }} </p>
                        </div>
                        
                        <p>  {{ item.ticket.title }}</p>
                        <img src="{{ item.ticket.image.url }}">
                        
                    </div>
                    <div class="bottomButtons">
                        <button type="submit" class="button reviewButton">Modifier</button>
                        <button type="submit" class="button reviewButton">Supprimer</button>
                    </div>
                    
                </div>
            {% endif %}
            <br>
        {% endif %}
    {% endfor %}
    
{% endblock content %}