{% extends 'litreview/base.html' %} 
{% block content %}
    <p>Page création de critique sans demande en cours de construction</p>
    <h2>Créer une critique</h2>
    <form method='POST' enctype="multipart/form-data" class="form">
        <div class="scratch">
            {{ ticket_form.as_p }}
        </div>
    
        <form method='POST' class="form">
            <p>{{ review_form.headline.label }} {{ review_form.headline }}</p>
            <div>
                {{ review_form.rating.label }}
                {% for x in '12345'|make_list %}
                <input type="radio" name="rating" value="{{x}}"> {{x}}
                {% endfor %}
            </div>
            {{ review_form.body.label}}
            {{ review_form.body }}
            {% csrf_token %}
            <button type="submit" class="bottomButtons">Créer une critique</button>
        </form>
    </form>
    
    
    
    
{% endblock content %}