{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
    </head>
    <body id="body">
        <main id="container">
            <header id="header">
                <h2 id="frontText">LITReview</h1>
            </header>
        
            {% block content %}{% endblock content %}
       
        
        {% if user.is_authenticated %} 
            <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
        {% endif %}
        </main>
        
    </body>
</html>