#body
{
    background-color: #ff941b;
}

#container
{
    background-color: #db8119;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
    border: solid 1px ;
    background-color: #b8bec5;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#header
{   
    display: inline flex;
    background-color: #db8119;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#userIndication
{
    position: absolute;
    left:1%;
    top: 5%;
}

#navigate
{
    position: absolute;
    right: 1%;
}

#frontText
{   
    background-color: #db8119;
    margin-left: 50%;
}

#creation
{
    display: inline-flex;
    justify-content: space-between;
    width: 70%;
}

.button
{
    background: none;
    border: 4px solid #fff;
    border-radius: 10px;
    color: rgb(5, 5, 5);
    display: block;
    font-weight: bold;
    margin: 10px auto;
    padding: 0.5em 0.5em;
    position: relative;
    text-transform: uppercase;
}

button::before,
      button::after {
      background: #fff;
      content: '';
      position: absolute;
      z-index: -1;
      }
button:hover {
color: #ffffff;
cursor: pointer;
}

.ticketRecap
{
    display: block;
    justify-content: center;
    border: 2px solid;
    width: 80%;
}

.ticketBox
{
    position: relative;
    left: 12%;
}

.ticket
{   
    border: 2px solid;
    width: 80%;
    height: 100%;

    margin-bottom: 10px;
}

.ticketHeader
{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.reviewButton
{
    margin-right: 2px;
}

.review
{
    border: 2px solid;
    width: 70%;
}

.reviewHeader
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottomButtons
{
    display: inline-flex;
    margin-left: 75%;
    justify-content: right;
}

.form
{
    border: 2px solid;
    width: 80%;
}
.scratch
{
    border: 2px solid;
    width : 100%;
}